	<nav id="header">
		<div class="nav-wrapper">
		<img src="/assets/truckstopVendor.png" alt="truck stop" id="truckstopLogo">
			<div class="company">
			{{#each foodTruck}}
				<h1 class="companyName">{{this.companyName}}</h1>
			{{/each}}
			</div>
		</div>
	</nav>
	<div class="row" id="header-margin">
	</div>
	<div class="row">
		<img src="/assets/truckNav.png" id="browseTitle">
		<button class="navBtn" id="mapNavBtn"></button>
		<button class="navBtn" id="menuNavBtn"></button>
		<a class="modal-trigger" id="cartBtn" href="#cart">
			<button class="navBtn" id="cartNavBtn"></button>
		</a>
		<div class="hidden" id="cartCounter"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="menu-container">
<!-- 				<div class="row">
					<h1>Menu</h1>
				</div> -->
				{{#each menu}}
					<form class="row menuItem">
						<h5>{{this.foodName}}</h5>
						<p>{{this.foodDescription}}</p>
						<button type="submit" class="waves-effect waves-light btn addToCartBtn" 
						name='{{this.foodName}},{{this.foodDescription}},{{this.price}}'>
						add to cart</button>
					</form>
				{{/each}}
			  <!-- Modal Structure -->
			  <div id="cart" class="modal">
			    <div class="modal-content">
			      <h4>Your Cart</h4>
			      		<table class="itemTable">	
					      	<tbody>	
					      		<thead class="tableHeader">
					      			<td class="col s4">
					      				<h5>Item</h5>	
					      			</td>
					      			<td class="col s6">
					      				<h5>Description</h5>	
					      			</td>
					      			<td class="col s2">
					      				<h5>Price</h5>	
					      			</td>
					      		</thead>
					      	</tbody>
			      		</table>
			    <div id="itemList">	
				</div>
				<table>
					<tbody>
						<thead class="tableHeader col s6">
							<td>Summary</td>
						</thead>
					</tbody>
				</table>
				<div class= "col s6" id="totalPrice">
				</div>	
			    </div>
			    <div class="modal-footer">
					<a class="waves-effect waves-green btn-flat" id="checkout">proceed to checkout</a>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">continue shopping</a>
			    </div>
			  </div>				
			</div>				
		</div>
		<div class="row">
			<div id="map" style="height: 250px; width: 250px;"></div>
		    <script>
		      function initMap() {
		        var truckLocation = {lat: 30.286989, lng: -97.728915};
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 15,
		          center: truckLocation
		        });
		        var marker = new google.maps.Marker({
		          position: truckLocation,
		          map: map
		        });
		      }
		    </script>
		    <script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQF8ObbvuQLJDt-en7VICr5VEX18C13VU&callback=initMap">
		    </script>
		</div>	
	</div>
