	<nav id="header">
		<div class="nav-wrapper">
		<img src="/assets/truckstopVendor.png" alt="truck stop" id="truckstopLogo">
			<div class="company">
			{{#each foodTruck}}
				<h1 class="companyName">{{this.companyName}}</h1>
			{{/each}}
			</div>
		</div>
	</nav>
	<div class="row" id="header-margin">
	</div>
	<div class="row">
		<img src="/assets/truckNav.png" id="browseTitle">
		<button class="navBtn" id="mapNavBtn"></button>
		<button class="navBtn" id="menuNavBtn"></button>
		<a class="modal-trigger" id="cartBtn" href="#cart">
			<button class="navBtn" id="cartNavBtn"></button>
		</a>
		<div class="hidden" id="cartCounter"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="menu-container">
<!-- 				<div class="row">
					<h1>Menu</h1>
				</div> -->
				{{#each menu}}
					<form class="row menuItem">
						<h5>{{this.foodName}}</h5>
						<p>{{this.foodDescription}}</p>
						<button type="submit" class="waves-effect waves-light btn addToCartBtn" 
						name='{{this.foodName}},{{this.foodDescription}},{{this.price}}'>
						add to cart</button>
					</form>
				{{/each}}
			  <!-- Modal Structure -->
			  <div id="cart" class="modal">
			    <div class="modal-content">
			      <h4>Your Cart</h4>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">continue shopping</a>
			    </div>
			  </div>				
			</div>				
		</div>
		<div class="row">
			<div class="map-container">
				<img src="/assets/sampleMap.jpg" id="map">
			</div>
		</div>	
	</div>
