  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        	<ul id="slide-out" class="side-nav">
	          <li><a href="#">browse</a></li>
	          <li><a href="#">menu</a></li>
	          <li><a href="#">map</a></li>
		    </ul>
	    	<a href="#" data-activates="slide-out" class="button-collapse show-on-large left"><i class="material-icons menu hide-on-large-only">menu</i>
	    	</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">browse</a></li>
          <li><a href="#">menu</a></li>
          <li><a href="#">map</a></li>
          <li><a class="modal-trigger" id="cartBtn" href="#cart">cart</a></li>
        </ul>
      </div>
    </nav>
  </div>
	<div class="main-content">
		<div class="row">
			<div class="menu-container">
				<<h1>MENU</h1>
				<hr>
					{{#each menu}}
						<div class="row">
							<div class="col s12 truck">
								<div class="row font-white">
									<h1 class="companyTitle">{{this.foodName}}</h1>
								</div>
								<div class="row font-white">
									<P>{{this.foodDescription}}</P>	
								</div>	
								<button type="submit" class="waves-effect waves-light btn addToCartBtn" 
								name='{{this.foodName}},{{this.foodDescription}},{{this.price}}'>
								add to cart
								</button>													
							</div>
						</div>
					{{/each}}
			  <!-- Modal Structure -->
			  <div id="cart" class="modal">
			    <div class="modal-content">
			      <h4>Your Cart</h4>
			      		<table class="itemTable">	
					      	<tbody>	
					      		<thead class="tableHeader">
					      			<td class="col s4">
					      				<h5>Item</h5>	
					      			</td>
					      			<td class="col s6">
					      				<h5>Description</h5>	
					      			</td>
					      			<td class="col s2">
					      				<h5>Price</h5>	
					      			</td>
					      		</thead>
					      	</tbody>
			      		</table>
			    <div id="itemList">	
				</div>
				<table>
					<tbody>
						<thead class="tableHeader col s6">
							<td>Summary</td>
						</thead>
					</tbody>
				</table>
				<div class= "col s6" id="totalPrice">
				</div>	
			    </div>
			    <div class="modal-footer">
				    <form action="/confirmation" method="POST">
				    	<button type="submit" class="waves-effect waves-green btn-flat" id="checkout">proceed to checkout</button>
				    </form>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">continue shopping</a>
			    </div>
			  </div>				
			</div>				
		</div>
	</div>
		<div class="row map-content">
			<div id="map">
			</div>
			{{#each foodTruck}}
			<div class="location-content">
				<h1 class="companyTitle font-white">{{this.location}}</h1>
			</div>
			{{/each}}
		    <script>
		      function initMap() {
		        var truckLocation = {lat: 30.286989, lng: -97.728915};
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 15,
		          center: truckLocation
		        });
		        var marker = new google.maps.Marker({
		          position: truckLocation,
		          map: map
		        });
		      }
		    </script>
		    <script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQF8ObbvuQLJDt-en7VICr5VEX18C13VU&callback=initMap">
		    </script>
		</div>	
	
